notifications:
  email: false
language: ruby
rvm:
- "2.2.3"
env:
  - DB=postgresql
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - RAILS_ENV=test bundle exec rake test
before_script:
  - psql -c 'CREATE DATABASE Mahjong_test'
bundler_args: --binstubs=./bundler_stubs
