<% if game.won? %>
  <div class="notification is-success">
    Congratulations! You won the game.
  </div>
<% elsif game.lost? %>
  <div class="notification is-warning">
    Aww, better luck next time.
  </div>
<% elsif game.in_progress? %>
  <div class="columns">
    <div class="column has-text-centered">
      <% if game.has_shuffles_remaining? %>
        <button type="button" class="button is-dark" id="shuffle-tiles-button">
          Shuffle
        </button>
        <span class="help">
          <%= pluralize(game.shuffles_remaining, 'shuffle') %> remaining
        </span>
      <% else %>
        <button type="button" class="button is-dark is-disabled" disabled="disabled">
          Shuffle
        </button>
        <span class="help">Shuffle limit reached</span>
      <% end %>
    </div>
    <% if game.original_tiles.present? && game.tiles != game.original_tiles %>
      <div class="column has-text-centered">
        <button type="button" class="button is-dark" id="reset-game-button">
          Reset
        </button>
      </div>
    <% end %>
  </div>
  <p>
    <%= pluralize(game.tile_count, 'tile') %> remaining
  </p>
  <hr>
<% end %>
