<div class="game-board">
  <% @game.each_tile do |placed_tile| %>
    <% file = placed_tile.tile.image_file %>
    <div class="<%= tile_class(placed_tile, file) %>" style="<%= tile_style(placed_tile) %>">
      <% if file %>
        <%= image_tag "tiles/#{file}", alt: placed_tile.tile %>
      <% else %>
        <%= placed_tile.tile %>
      <% end %>
    </div>
  <% end %>
</div>
