<div id="game-board" class="game-board" data-tiles="<%= @game.tiles %>">
  <%= render partial: 'games/game_board', locals: {game: @game} %>
</div>
<div class="game-controls">
  <p>
    <%= link_to "Log in", new_user_session_path %> &middot;
    <%= link_to "Sign up", new_user_registration_path %>
  </p>
  <hr>
  <button type="button" class="button">
    Shuffle
  </button>
</div>
