$background-transition: background 0.1s linear;

.game-board-container {
  width: 73vw;
  height: 100vh;
  background-size: cover;

  &, &.wood {
    background-image: image-url('wood-grain-1.jpg');
  }

  &.stones {
    background-image: image-url('stones-1.jpeg');
  }

  &.grass {
    background-image: image-url('grass-1.jpg');
  }
}

.game-board {
  position: relative;
  left: 2vw;
  top: 6vh;
  width: 100%;
  height: 94vh;
  overflow: hidden;
}

.game-controls {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6vh 2vw;
  width: 26vw;
  min-height: 100vh;
  background-color: #333;

  hr {
    border-top-color: #444;
  }

  strong, & {
    color: #ccc;
  }

  a:hover, a:focus, .radio:hover {
    color: #fff;
  }
}

.mahjong-tile {
  position: absolute;
  display: inline-block;
  text-align: center;
  visibility: hidden;

  &.is-sized {
    visibility: visible;
  }

  &.selectable {
    cursor: pointer;

    .tile-image {
      background-color: #fff;
    }
  }

  &.set-season {
    .tile-image {
      border: 1px solid #000;
    }
  }

  .tile-image {
    border-radius: 1vw;
    background-color: #e8e8e8;
    max-height: 97%;
    -webkit-transition: $background-transition;
    -moz-transition: $background-transition;
    -ms-transition: $background-transition;
    -o-transition: $background-transition;
    transition: $background-transition;
  }

  &.selectable {
    &:hover, &:focus {
      .tile-image {
        background-color: #D4EEF2;
      }
    }
  }

  &.is-selected .tile-image {
    background-color: #fce473;
  }

  &.is-directly-underneath {
    .tile-image {
      display: none;
    }
  }

  &.is-underneath {
    .tile-image {
      background-color: #f9f9f9;
    }
  }
}

.game-state {
  margin-bottom: 20px;

  .notification {
    padding: 8px 10px;
  }
}
