$background-transition: background 0.1s linear;

.game-board {
  position: relative;
  left: 2vw;
  top: 6vh;
  width: 73vw;
  height: 94vh;
  overflow: hidden;
}

.game-controls {
  position: absolute;
  right: 2vw;
  top: 6vh;
  width: 21vw;
  text-align: center;
}

.mahjong-tile {
  position: absolute;
  display: inline-block;
  text-align: center;
  visibility: hidden;

  &.is-sized {
    visibility: visible;
  }

  &.selectable {
    cursor: pointer;

    .tile-image {
      background-color: #fff;
    }
  }

  &.set-season {
    .tile-image {
      border: 1px solid #000;
    }
  }

  .tile-image {
    border-radius: 1vw;
    background-color: #efefef;
    max-height: 97%;
    -webkit-transition: $background-transition;
    -moz-transition: $background-transition;
    -ms-transition: $background-transition;
    -o-transition: $background-transition;
    transition: $background-transition;
  }

  &.selectable {
    &:hover, &:focus {
      .tile-image {
        background-color: #D4EEF2;
      }
    }
  }

  &.is-selected .tile-image {
    background-color: #fce473;
  }

  &.is-directly-underneath {
    .tile-image {
      display: none;
    }
  }

  &.is-underneath {
    .tile-image {
      background-color: #f9f9f9;
    }
  }
}
